<div>
  <h1>Home departamentos</h1>
  <hr />
  <table class="table table-secondary">
    <thead>
      <tr>
        <th>Id departamento</th>
        <th>Nombre</th>
        <th>Localidad</th>
        <th>Details</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      @for (dept of departamentos; track dept){
      <tr>
        <td>{{ dept.idDepartamento }}</td>
        <td>{{ dept.nombre }}</td>
        <td>{{ dept.localidad }}</td>
        <td>
          <a
            [routerLink]="[
              '/details',
              dept.idDepartamento,
              dept.nombre,
              dept.localidad
            ]"
            class="btn btn-success"
            >Details</a
          >
        </td>
        <td>
          <a [routerLink]="['/edit', dept.idDepartamento]" class="btn btn-info"
            >Edit</a
          >
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
